{% extends 'superadmin/base.html' %}
{% load static %}

{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Sensor List
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Sensor</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sensor Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1"
                               class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Sensor ID</th>
                                <th>Sensor Name</th>
                                <th>Power Generator Name</th>
                                <th>Maximum Reading</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in sensor_list %}
                                <tr>
                                    <td>{{ obj.id }}</td>
                                    <td>{{ obj.sensor_name }}</td>
                                    <td>{{ obj.device.name }}</td>
                                    <td>{{ obj.max_reading }}</td>
                                    <td>
                                        <a href="/edit-sensor/{{ obj.id }}"
                                           type="button"
                                           class="btn btn-block btn-info btn-sm">Edit</a>
                                        <button data-id="{{ obj.id }}"
                                                onclick="prodDelFunc(this)"
                                                type="button"
                                                class="btn btn-block btn-danger btn-sm">Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>


{% endblock content %}


{% block js_script %}

    <script>
        $(document).ready(function () {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: true,
                timer: 3000
            });

            {% if su_message == "success" %}

                Toast.fire({
                    type: 'success',
                    title: 'Sensor Has Been Added Successfully.'
                });

            {% endif %}


            {% if su_message == "update-success" %}

                Toast.fire({
                    type: 'success',
                    title: 'Sensor Details Updated Successfully.'
                });

            {% endif %}


            {% if su_message == "product-deleted-success" %}

                Toast.fire({
                    type: 'success',
                    title: 'Sensor Deleted Successfully.'
                });

            {% endif %}

        });

    </script>

    <script>

        function prodDelFunc(elem) {
            id = $(elem).attr("data-id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: '{% url "deletesensor" %}',
                        data: {
                            'id': id,
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.href = "/view-sensor?message=product-deleted-success"
                        },
                        error: function () {
                            console.log("Error in Loading Content")
                        }
                    });


                    Swal.fire(
                        'Deleted!',
                        'Sensor has been deleted.',
                        'success'
                    )
                }
            })
        }
    </script>


{% endblock js_script %}