{% extends 'superadmin/base.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Orders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Orders</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Status</th>
                                <th>Customer/Order Details</th>
                                <th>Product Details</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in orders_list %}
                                <tr>
                                    <td> {{ obj.id }} </td>
                                    <td> {{ obj.status|upper }} </td>
                                    <td style="max-width: 300px; word-wrap: break-word">
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <th>Order No:</th>
                                                <td>{{ obj.get_order_number }}</td>
                                            </tr>
                                            <tr>
                                                <th>Cost:</th>
                                                <td>PKR {{ obj.order_cost }}</td>
                                            </tr>
                                            <tr>
                                                <th>Date:</th>
                                                <td>{{ obj.date.date }}</td>
                                            </tr>
                                            <tr>
                                                <th>Time:</th>
                                                <td>{{ obj.date.time }}</td>
                                            </tr>
                                            <tr>
                                                <th>Name</th>
                                                <td>{{ obj.customer_name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone</th>
                                                <td>{{ obj.customer_phone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{ obj.customer_email }}</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping Address</th>
                                                <td>{{ obj.shipping_address }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        {% for i in obj.order_detail.all %}
                                            <u><b>Product {{ forloop.counter }}</b></u>
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    <th>Article No</th>
                                                    <td> {{ i.product.sku }} </td>
                                                </tr>
                                                <tr>
                                                    <th>Quantity</th>
                                                    <td>{{ i.order_detail_quantity }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Cost</th>
                                                    <td>{{ i.order_detail_price }}</td>
                                                </tr>
                                            </table>
                                            <hr style="color: black">
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if obj.status == "received" %}
                                            <button data-id="{{ obj.id }}" onclick="orderStatusToAck(this)"
                                                    type="button"
                                                    class="btn btn-block btn-warning btn-sm">Mark Acknowledged
                                            </button>
                                        {% endif %}
                                        {% if obj.status == "acknowledged" %}
                                            <button data-id="{{ obj.id }}" onclick="orderStatusToDlvrd(this)"
                                                    type="button"
                                                    class="btn btn-block btn-warning btn-sm">Mark Deleivered
                                            </button>
                                        {% endif %}

                                        {% if not obj.status == "deleivered" %}
                                        <button data-id="{{ obj.id }}" onclick="orderDelFunc(this)"
                                                type="button"
                                                class="btn btn-block btn-danger btn-sm">Delete
                                        </button>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->



{% endblock content %}



{% block js_script %}

    <script>

     $(document).ready(function () {

            const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: true,
                    timer: 3000
                });

            {% if su_message == "order-deleted-success" %}

                Toast.fire({
                    type: 'success',
                    title: 'Order Has Been Deleted Successfully.'
                });

            {% endif %}

            {% if su_message == "order-status-change-success" %}

                Toast.fire({
                    type: 'success',
                    title: 'Order Status Has Been Updated Successfully.'
                });

            {% endif %}

        });
    </script>

    <script>

        function orderDelFunc(elem) {
            id = $(elem).attr("data-id");
            //alert(id)

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: '{% url "deleteOrder" %}',
                        data: {
                            'id': id,
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.href = "/orders?message=order-deleted-success"
                        },
                        error: function () {
                            console.log("Error in Loading Content")
                        }
                    });


                    Swal.fire(
                        'Deleted!',
                        'Product has been deleted.',
                        'success'
                    )
                }
            })
        }

    </script>

    <script>

        function orderStatusToAck(elem) {
            id = $(elem).attr("data-id");
            //alert(id)

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Update Status!'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: '{% url "StatusAcknowledged" %}',
                        data: {
                            'id': id,
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.href = "/orders?message=order-status-change-success"
                        },
                        error: function () {
                            console.log("Error in Loading Content")
                        }
                    });


                    Swal.fire(
                        'Updated!',
                        'Order Status has been Updated.',
                        'success'
                    )
                }
            })
        }

    </script>


    <script>

        function orderStatusToDlvrd(elem) {
            id = $(elem).attr("data-id");
            //alert(id)

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Update Status!'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: '{% url "StatusDeleivered" %}',
                        data: {
                            'id': id,
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.href = "/orders?message=order-status-change-success"
                        },
                        error: function () {
                            console.log("Error in Loading Content")
                        }
                    });


                    Swal.fire(
                        'Updated!',
                        'Order Status has been Updated.',
                        'success'
                    )
                }
            })
        }

    </script>


{% endblock js_script %}